.logo{
    color: var(--turuncu)!important;
    font-weight: bold!important;
}

.nav-shadow{
    border: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    font-weight: bold!important;
    font-size: 13px;
}

.navbar-links .long{
    width: 150px!important;
    border-right: 1px solid var(--navlinkborder);
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative!important;
}

.navbar-links .long .yeni{
    position: absolute;
    top: 0;
    right:0;
    width: 40px;
    font-size: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white!important;
    background: var(--mor);
}